#program-belajar {
  margin-top: 80px;
}

#program-belajar .container h1 {
  text-align: center;
  font-weight: 800;
  font-size: 32px;
  padding-top: 20px;
  margin: 0;
}

#program-belajar .container p {
  text-align: center;
  padding: 8px;
}

.swiper {
  width: 100%;
  padding: 20px;
}

.swiper-slide img {
  object-fit: cover;
  display: block;
}
